* {
  font-family: 'Inter', sans-serif;
}

main {
  max-width: 1640px;
  width: 100%;
  max-height: 816px;
  margin: 134px auto;
  justify-content: center;
}

.container {
  flex: 2;

}

.container__main-tech, 
.container__main-info {
  justify-content: space-between;
}

.container__main-info-mini,
.container__main-info-right,
.container__main-tech, 
.container__main-info, main  {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cross {
  width: 18px;
  height: 18px;
}

aside {
  flex: 1;
}

h2 .container-title {
  font-size: 29px;
  font-weight: 600;
  line-height: 39px;
}

.container__main-tech p,
.container__main-info-right p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.info-mini-container-title {
  color: #0ab28b;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
}

.info-mini-container-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.3;
  margin-top: 0;
}

.container__main-info-price, 
.container__main-tech-price {
  margin-right: 60px;
}